name: app-deploy

on: push

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1  
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
            project_id: ${{ secrets.gcp_project }}
            service_account_key: ${{ secrets.gcp_credentials }}
            export_default_credentials: true   
      - name: setting account
        run: gcloud config set account dinesh.rupchandani@gmail.com    
      - name: app-deploy
        run: gcloud app deploy ./app.yaml --project project1-277418   
     